/*this is my first proper CSS file */


body{

    background-color: #2a364f;
    max-width: 450px;
    margin: auto;
}

h1{

    color: rgb(255,255,255,0.8);
    font-family: 'Poppins', sans-serif ;
}

h2{
    color: rgb(255,255,255,0.8);
    font-family: 'Poppins', sans-serif ;
    font-size: large;
}

h3{
    color: #F8B627;
    font-family: 'Poppins', sans-serif ;
}

p{font-family: 'Poppins', sans-serif;
color: rgb(255,255,255,0.8);
}



.chart{
    width: 350px;
    border-width: 10px;
    background-color: white;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    margin: auto;


}



